<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/forms.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Login</h2>
      <form method="post">
        {{form.hidden_tag()}} {{form.username.label}} {{form.username}}
        {{form.password.label}} {{form.password}} {{form.submit}}
      </form>
      <a href="{{url_for('signup')}}"
        >Don't have an account? Signup with us here</a
      >
    </div>
  </body>
</html>
