<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/forms.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <h2>{{title}}</h2>
      <form method="post">
        {{form.hidden_tag()}} {{form.password.email}} {{form.email}}
        {{form.submit}}
      </form>
    </div>
  </body>
</html>
